name: Release

on:
  push:
    branches:
      - master

jobs:
  build-and-release-specific:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Build project
        run: powershell ./build.ps1

      - name: Release project
        uses: softprops/action-gh-release@v2
        with:
          files: |
            packages/GodotToolkits.*.nupkg
          tag_name: "Release_${{ github.sha }}"
          draft: false
          prerelease: false
